body{
    height: 100%;
}

.admin-wrapper{
display: flex;
height:calc(100% - 66px);
}

.admin-wrapper .left-sidebar{
    flex: 2;
    height: 100vh;
background: rgb(26, 94, 92);

}

.admin-wrapper .left-sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(212, 206, 196);
}

.admin-wrapper .left-sidebar ul a{
    color: rgb(212, 206, 196); 
    text-decoration: none;
    display: block;
    border-bottom: 1px solid teal;
}

.admin-wrapper .left-sidebar ul a:hover{
   background: teal;
}

.admin-wrapper .admin-content{
    flex: 8;
    height: 100%; 
    padding:40px 100px 100px ;
    overflow-y: scroll;
}

.admin-content .page-title{
    text-align: center;
    margin-bottom: 1rem; 

}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;

}

th, td{
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid wheat;

}

.edit{
    color: green;
    text-decoration: none;

}

.delete{
    color: red;
    text-decoration: none;
}

.publish{
    text-decoration: none;
    color: blue;
}