*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background: #6390af;
    background: -webkit-linear-gradient(59deg, #89bfda, #70b4e1);
    background: linear-gradient(59deg, #88bed9, #83b0cf);
    font-family: 'Open Sans', sans-serif;

}

.list_text{
    font-size: 1rem;
    font-weight: bolder;
    color: wheat;
    
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: .5rem 1rem;
border: 1px solid transparent;
    box-shadow: .25rem ;
    background: #1f585a;
    border-radius: 10px;
}


.msgs{
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 1rem;
   
}

.msgs.success{
    background: rgb(63, 179, 63);
}

.msgs.err{
    background: rgb(230, 167, 167);
}

input{
    padding: 10px 10px;
    border-radius: 5px;
    
}


.comment_input{

}


header{
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    height: 66px; 
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
     
}

header .logo-text{
    margin: 5px;
}

header .logo-text span{
    color: #5bd8dc;
}

header ul {
    float: right; 

    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float:left;
    position: relative;

}
header ul li ul{
position: absolute;
top: 66px;
right: 0px;
width: 180px;
display: none;

}

header ul li:hover ul{

    display: block;
}
header ul li ul li{
    width: 100%;
}

header ul li ul a {
    padding: 10px;
    color: gray;
}
header ul li ul a.logout{
   color: red; 
}

header ul li ul a:hover{
    background: #023333;;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 15px;
    text-decoration: none;

}

header ul li a:hover {
    background:  #000000; 
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
}

/* post slider*/

.slick-prev{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
 

}
.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    transform: translateY(-50%);
    
}

.sidebar.single{
    max-height: 100rem;


}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .post-wrapper{

    width: 84%;
    height: 500px;
    overflow: hidden;
    margin:0px auto;
}

.post-slider .post-wrapper .post{
  
    display: inline-block;
    width: 200px;
    height: 500px;
   
    padding-left: 25px;

}

.post-slider .post-wrapper .post .slider-image{
    max-width: 100%;
    height: 65%; 
    background-size: cover; 
    background-position: center center; 
       
}

/* content*/
.content{
    width: 90%;
    margin: 30px auto 30px;


}

.content .main-content{
    width: 70%;
    float: left;
 
}

.content .main-content.single{
    background: rgb(241, 215, 215);
    padding: 20px 50px;
    font-size: 1.1em;

}

.content .sidebar{
    width: 30%;
    float: left;
 
max-height: 100%;
}

.content .recent-post-title{
margin: 20px;
}

.content .main-content .post{
width: 80%;
height:400px;
margin: 10px auto;
border-radius: 5px;
background: rgb(169, 224, 237);


}

.content .popular .post{
    border-top: 1px solid wheat;
    margin-top: 20px;
    padding-top: 20px;
}

.content .popular .post img{
    height: 60px;
    max-width: 80px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;

}

.content .main-content .post .post-preview{
    padding: 4px;
    width: 40%;
    float: right;
    position: relative;
}

.content .main-content .post .preview-text{
overflow-y:auto;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: -35px;
    right: 10px;

}

.content .sidebar .section{
    background: #57a4d7;
    background: -webkit-linear-gradient(59deg, #4c9ac1, #70b4e1);
    background: linear-gradient(59deg, #3c80a2, #4389b8);

    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section.search{
    margin-top:80px;

}

.content .sidebar .section.topics ul{
    list-style: none;
    margin: 0px;
    padding: 0px;


}

/* auth pages*/

.auth-content{

    background: rgb(177, 177, 61);
    width: 60%;
    margin: 5px auto;
    padding: white;
    border-radius: 5px;
}

.auth-content .form{
    padding: 1rem 10rem;
}

 .auth-content .form .msg.error{
    width: 100%;
    height: 10vh;
    background: red;
  
}

.auth-content .form .msg.error li{
    list-style: none;
    font-size: 1.1rem;
}



/*  Media queries*/

@media only  screen and (max-width:750px) {
header{
    position: relative;
}
    header ul {
    width: 100%;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    max-height: 0px;
    overflow: hidden;
    }
.showing{
   max-height: 250em; 
}
    header ul li{
        width: 100%;
    }
    header ul li ul{
         display: block;
         width: 100%;
         background: inherit;
    }

    header ul li ul a {
        padding: 10px;
        background: #008489;
        color:white;
        padding-left: 50px;
    }
    header ul li ul a.logout{
       color: red; 
    }

    header .menu-toggle{
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 1.9rem;

    }
    header .menu-toggle:hover{
        max-height: 66px;
        overflow: visible;
    }

}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0px 0px10px rgba(0, 0, 0, 0.1);
  }
  
  .cookie-banner p {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .cookie-banner a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .cookie-banner button {
    margin-left: 10px;
  }