*{
    box-sizing: border-box;

      
}

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #222;
  background:rgb(218, 238, 244) !important;
}
body.fh5co-overflow {
  overflow-x: auto;
}



a {
  color: #f7c873;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: #f3ac2b;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", times, serif;
  color: #000;
}

p {
  margin-bottom: 30px;
}

.list_text{
    font-size: 1rem;
    font-weight: bolder;
    color: wheat;
    
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: .5rem 1rem;
border: 1px solid transparent;
    box-shadow: .25rem ;
    background: #1f585a;
    border-radius: 10px;
}


.msgs{
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 1rem;
   
}

.msgs.success{
    background: rgb(63, 179, 63);
}

.msgs.err{
    background: rgb(230, 167, 167);
}

input{
    padding: 10px 10px;
    border-radius: 5px;
    
}


.comment_input{

}


header{
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    height: 66px; 
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
     
}

header .logo-text{
    margin: 5px;
}

header .logo-text span{
    color: #5bd8dc;
}

header ul {
    float: right; 

    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float:left;
    position: relative;

}
header ul li ul{
position: absolute;
top: 66px;
right: 0px;
width: 180px;

display: none;


}

header ul li:hover ul{
    margin-top: 0px;
    display: block;
    transition-duration: 2s;
}
header ul li ul li{
    width: 100%;
}

header ul li ul a {
    padding: 10px;
    color: gray;
}
header ul li ul a.logout{
   color: red; 
}

header ul li ul a:hover{
    background: #6cd8eb;

   
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 15px;
    text-decoration: none;

}

header ul li a:hover {
    background:  #000000; 
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
}

/* post slider*/

.slick-prev{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
 

}
.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    transform: translateY(-50%);
    
}

.sidebar.single{
    max-height: 100rem;


}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .post-wrapper{

    width: 84%;
    height: 400px;
    overflow: hidden;
    margin:0px auto;
}

.post-slider .post-wrapper .post{
  
    display: inline-block;
    width: 200px;
    height: 500px;
   
    padding-left: 25px;

}

.post-slider .post-wrapper .post .slider-image{
    max-width: 100%;
    height: 65%; 
    background-size: cover; 
    background-position: center center; 
       
}

/* content*/
.content{
    width: 90%;
    margin: 30px auto 30px;

}

.content .main-content{
    width: 70%;
    float: left;
 
}

.content .main-content.single{
    background: rgb(184, 236, 218);
    padding: 20px 50px;
    font-size: 1.1em;

}

.content .sidebar{
    width: 30%;
    float: left;
 
max-height: 100%;
}

.content .recent-post-title{
margin: 20px;
}

.content .main-content .post{
width: 75%;
height:300px;
margin: 5px auto;
border-radius: 10px;
background: rgb(169, 224, 237);

}

 .container .post{
    width: 50%;
    height:300px;
    margin: 5px auto;
    border-radius: 10px;
    background: rgb(169, 224, 237);
    
    }


.content .popular .post{
    border-top: 1px solid wheat;
    margin-top: 20px;
    padding-top: 20px;
}

.content .popular .post img{
    height: 60px;
    max-width: 80px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;

}

.content .main-content .post .post-preview{
    padding: 4px;
    width: 40%;
    float: right;
    position: relative;
}

.content .main-content .post .preview-text{
overflow-y:auto;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: -35px;
    right: 10px;

}

.content .sidebar .section{
    background: #57a4d7;
    background: -webkit-linear-gradient(59deg, #4c9ac1, #70b4e1);
    background: linear-gradient(59deg, #3c80a2, #4389b8);

    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section.search{
    margin-top:80px;

}

.content .sidebar .section.topics ul{
    list-style: none;
    margin: 0px;
    padding: 0px;


}

/* auth pages*/

.auth-content{

    background: rgb(177, 177, 61);
    width: 60%;
    margin: 5px auto;
    padding: white;
    border-radius: 5px;
}

.auth-content .form{
    padding: 1rem 10rem;
}

 .auth-content .form .msg.error{
    width: 100%;
    height: 10vh;
    background: red;
  
}

.auth-content .form .msg.error li{
    list-style: none;
    font-size: 1.1rem;
}



/*  Media queries*/

@media only  screen and (max-width:750px) {
header{
    position: relative;
}
    header ul {
    width: 100%;
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    max-height: 0px;
    overflow: hidden;
    }
.showing{
   max-height: 250em; 
}
    header ul li{
        width: 100%;
    }
    header ul li ul{
         display: block;
         width: 100%;
         background: inherit;
    }

    header ul li ul a {
        padding: 10px;
        background: #008489;
        color:white;
        padding-left: 50px;
    }
    header ul li ul a.logout{
       color: red; 
    }

    header .menu-toggle{
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 1.9rem;

    }
    header .menu-toggle:hover{
        max-height: 66px;
        overflow: visible;
    }

}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    box-shadow: 0px 0px10px rgba(0, 0, 0, 0.1);
  }
  
  .cookie-banner p {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .cookie-banner a {
    color: #337ab7;
    text-decoration: none;
  }
  
  .cookie-banner button {
    margin-left: 10px;
  }





  @font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  

  
  .btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Playfair Display", times, serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .btn.btn-md {
    padding: 10px 20px !important;
  }
  .btn.btn-lg {
    padding: 18px 36px !important;
  }
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  .btn-primary {
    background: #f7c873;
    color: #fff;
    border: 2px solid #f7c873;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #f6bf5b !important;
    border-color: #f6bf5b !important;
  }
  .btn-primary.btn-outline {
    background: transparent;
    color: #f7c873;
    border: 2px solid #f7c873;
  }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #f7c873;
    color: #fff;
  }
  
  .btn-success {
    background: #58ca7e;
    color: #fff;
    border: 2px solid #58ca7e;
  }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #45c46f !important;
    border-color: #45c46f !important;
  }
  .btn-success.btn-outline {
    background: transparent;
    color: #58ca7e;
    border: 2px solid #58ca7e;
  }
  .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #58ca7e;
    color: #fff;
  }
  
  .btn-info {
    background: #1784fb;
    color: #fff;
    border: 2px solid #1784fb;
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #0477f4 !important;
    border-color: #0477f4 !important;
  }
  .btn-info.btn-outline {
    background: transparent;
    color: #1784fb;
    border: 2px solid #1784fb;
  }
  .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #1784fb;
    color: #fff;
  }
  
  .btn-warning {
    background: #fed330;
    color: #fff;
    border: 2px solid #fed330;
  }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #fece17 !important;
    border-color: #fece17 !important;
  }
  .btn-warning.btn-outline {
    background: transparent;
    color: #fed330;
    border: 2px solid #fed330;
  }
  .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #fed330;
    color: #fff;
  }
  
  .btn-danger {
    background: #fb4f59;
    color: #fff;
    border: 2px solid #fb4f59;
  }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #fa3641 !important;
    border-color: #fa3641 !important;
  }
  .btn-danger.btn-outline {
    background: transparent;
    color: #fb4f59;
    border: 2px solid #fb4f59;
  }
  .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #fb4f59;
    color: #fff;
  }
  
  .btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
  }
  
  .form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
  }
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #f7c873;
  }
  
  #fh5co-header {
    padding: 3em 3em;
    float: left;
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-header {
      padding-bottom: 5em !important;
    }
  }
  #fh5co-header .fh5co-nav-toggle {
    position: absolute;
    top: 4.2em;
    left: 3em;
    z-index: 99;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header .fh5co-nav-toggle {
      top: 4em;
      left: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .fh5co-nav-toggle {
      top: 2.5em;
      left: 15px;
    }
  }
  #fh5co-header .fh5co-social {
    position: absolute !important;
    right: 3em !important;
    top: 3.2em;
    z-index: 99;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  @media screen and (max-width: 1200px) {
    #fh5co-header .fh5co-social {
      right: 15px !important;
      top: 3.2em;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .fh5co-social {
      right: 15px !important;
      top: 1.5em;
    }
  }
  @media screen and (max-width: 480px) {
    #fh5co-header .fh5co-social {
      right: inherit !important;
      left: inherit !important;
      top: 5em;
      left: 50% !important;
      margin-left: -50px;
    }
  }
  @media screen and (max-width: 768px) {
    #fh5co-header {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  #fh5co-header #fh5co-logo {
    text-align: center;
  }
  #fh5co-header #fh5co-logo a {
    color: #000;
  }
  #fh5co-header #fh5co-logo a sup {
    font-size: 20px;
    top: -20px;
  }
  
  .fh5co-post-prev,
  .fh5co-post-next {
    position: fixed;
    z-index: 999;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  @media screen and (max-width: 768px) {
    .fh5co-post-prev,
    .fh5co-post-next {
      position: relative;
      text-align: center;
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      display: inline;
    }
  }
  .fh5co-post-prev span,
  .fh5co-post-next span {
    vertical-align: base;
    width: 100px;
  }
  .fh5co-post-prev span i,
  .fh5co-post-next span i {
    top: 7px;
    position: relative;
    font-size: 30px;
    color: #000;
  }
  
  .fh5co-post-prev {
    left: 0;
    margin-left: -25px;
  }
  .fh5co-post-prev:hover {
    margin-left: 10px;
    color: #000;
  }
  @media screen and (max-width: 768px) {
    .fh5co-post-prev {
      margin-left: 15px;
      float: left;
    }
  }
  
  .fh5co-post-next {
    right: 0;
    margin-right: -25px;
  }
  .fh5co-post-next:hover {
    margin-right: 10px;
    color: #000;
  }
  @media screen and (max-width: 768px) {
    .fh5co-post-next {
      margin-right: 15px;
      float: right;
    }
  }
  
  .fh5co-post-entry.single-entry .fh5co-article-title {
    font-size: 20px;
  }
  @media screen and (max-width: 992px) {
    .fh5co-post-entry.single-entry .fh5co-article-title {
      font-size: 56px;
    }
  }
  @media screen and (max-width: 768px) {
    .fh5co-post-entry.single-entry .fh5co-article-title {
      font-size: 34px;
    }
  }
  .fh5co-post-entry article {
    text-align: center;
    float: left;
    margin-bottom: 110px;
    padding-left: 3em;
    padding-right: 3em;
  }
  @media screen and (max-width: 1200px) {
    .fh5co-post-entry article {
      margin-bottom: 80px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 992px) {
    .fh5co-post-entry article {
      margin-bottom: 80px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .fh5co-post-entry article {
      margin-bottom: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .fh5co-post-entry article a img {
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .fh5co-post-entry article a:hover img {
    opacity: .4;
  }
  .fh5co-post-entry article figure {
    margin-bottom: 30px;
  }
  .fh5co-post-entry article h2 {
    font-family: "Playfair Display", times, serif;
    font-size: 34px;
    color: #000;
    margin-bottom: 30px;
  }
  .fh5co-post-entry article h2 a {
    color: #000;
  }
  @media screen and (max-width: 992px) {
    .fh5co-post-entry article h2 {
      font-size: 26px;
    }
  }
  @media screen and (max-width: 768px) {
    .fh5co-post-entry article h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .fh5co-post-entry article .fh5co-meta {
    font-size: 16px;
    font-family: "Roboto", arial, sans-serif;
    color: #999999;
    margin-bottom: 20px;
    display: block;
  }
  @media screen and (max-width: 480px) {
    .fh5co-post-entry article .fh5co-meta {
      margin-bottom: 10px;
    }
  }
  .fh5co-post-entry article .fh5co-meta.fh5co-date {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .fh5co-post-entry article .content-article {
    padding-top: 4em;
  }
  .fh5co-post-entry article .content-article a {
    text-decoration: underline;
  }
  .fh5co-post-entry article .content-article blockquote {
    border-left: none;
    padding-left: 0;
  }
  .fh5co-post-entry article .content-article blockquote p {
    font-family: "Playfair Display", times, serif;
    font-size: 27px;
    font-style: italic;
    line-height: 1.5;
  }
  .fh5co-post-entry article .content-article blockquote p cite {
    padding-top: 20px;
    display: block;
    font-size: 16px;
    font-style: normal;
    color: gray;
  }
  .fh5co-post-entry article .fh5co-highlight {
    border: 4px solid #f2f2f2;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
  }
  .fh5co-post-entry article .fh5co-highlight.right {
    float: right;
    margin-left: 30px;
  }
  .fh5co-post-entry article .fh5co-highlight.left {
    float: left;
  }
  .fh5co-post-entry article .fh5co-highlight h4 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-family: "Roboto", arial, sans-serif;
  }
  .fh5co-post-entry article .fh5co-highlight p {
    font-family: "Playfair Display", times, serif;
    color: #000;
    font-size: 20px;
  }
  
  .fh5co-social {
    padding: 0;
    margin: 30px 0 0 0;
    position: relative;
  }
  .fh5co-social li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
  }
  .fh5co-social li a {
    font-size: 20px;
    padding: 4px;
    color: #000;
  }
  
  figure figcaption {
    padding-top: 15px;
    font-size: 14px;
    color: #999999;
  }
  
  #fh5co-offcanvas {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 700px;
    z-index: 99999;
    overflow-y: auto;
    opacity: 0;
    display: none;
  }
  @media screen and (max-width: 768px) {
    #fh5co-offcanvas {
      padding-top: 30px;
      width: 270px;
    }
  }
  #fh5co-offcanvas .fh5co-close-offcanvas {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 30px;
    overflow: hidden;
    color: #cccccc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media screen and (max-width: 768px) {
    #fh5co-offcanvas .fh5co-close-offcanvas {
      top: 5px;
    }
  }
  #fh5co-offcanvas .fh5co-close-offcanvas:hover {
    width: 85px;
    color: #000;
  }
  #fh5co-offcanvas .fh5co-close-offcanvas > span {
    width: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
  }
  #fh5co-offcanvas .fh5co-close-offcanvas > span > span {
    top: 7px;
    position: relative;
    font-size: 18px;
    vertical-align: top;
  }
  #fh5co-offcanvas .fh5co-box {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  #fh5co-offcanvas .fh5co-menu,
  #fh5co-offcanvas .fh5co-bio {
    width: 50%;
    padding: 50px;
  }
  @media screen and (max-width: 768px) {
    #fh5co-offcanvas .fh5co-menu,
    #fh5co-offcanvas .fh5co-bio {
      width: 100%;
      padding: 30px;
    }
  }
  #fh5co-offcanvas .fh5co-bio {
    text-align: center;
    float: left;
  }
  #fh5co-offcanvas .fh5co-bio figure {
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
  #fh5co-offcanvas .fh5co-bio img {
    width: 180px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  #fh5co-offcanvas .fh5co-bio p {
    font-size: 16px;
  }
  #fh5co-offcanvas .heading {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #cccccc;
    margin-bottom: 30px;
  }
  #fh5co-offcanvas .fh5co-menu {
    float: right;
  }
  #fh5co-offcanvas .fh5co-menu ul {
    padding: 0;
    margin: 0;
  }
  #fh5co-offcanvas .fh5co-menu ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: block;
  }
  #fh5co-offcanvas .fh5co-menu ul li a {
    color: #000;
  }
  
  #fh5co-footer {
    padding: 3em 0;
    text-align: center;
  }
  
  .js .to-animate, .js
  .to-animate-2, .js
  .animate-box {
    opacity: 0;
  }
  
  .fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
  }
  .fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #f7c873;
  }
  .fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
  }
  .fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline;
    width: 25px;
    height: 3px;
    color: #535659;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #535659;
    transition: all .2s ease-out;
  }
  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 3px;
    background: #535659;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  
  .fh5co-nav-toggle i::before {
    top: -7px;
  }
  
  .fh5co-nav-toggle i::after {
    bottom: -7px;
  }
  
  .fh5co-nav-toggle:hover i::before {
    top: -10px;
  }
  
  .fh5co-nav-toggle:hover i::after {
    bottom: -10px;
  }
  
  .fh5co-nav-toggle.active i {
    background: transparent;
  }
  
  .fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  
  .fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  
  .fh5co-nav-toggle {
    position: absolute;
    top: 18px;
    left: 0;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: block;
    height: 44px;
    width: 25px;
    border-bottom: none !important;
  }
  @media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
      display: block;
    }
  }
  
  .fh5co-animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .rp-b {
    padding-bottom: 40px;
  }
  
  .cp-l {
    padding-left: 50px;
  }
  @media screen and (max-width: 992px) {
    .cp-l {
      padding-left: 15px;
    }
  }
  
  .cp-r {
    padding-right: 50px;
  }
  @media screen and (max-width: 992px) {
    .cp-r {
      padding-right: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .col-xxs-12 {
      width: 100%;
      float: none;
    }
  }



  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .text-input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .search-button {
    width: 50px;
    height: 40px;
    margin-left: -50px;
    background-color: #007bff;
    border: none;
    border-radius: 0 20px 20px 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-button:hover {
    background-color: #0069d9;
  }
  
  .fa-search {
    font-size: 18px;
  }





  
  /*# sourceMappingURL=style.css.map */
  











